@charset "utf-8";
/* CSS Document */
.logos-head {
	min-height:270px;
	max-height:273px;
	height:123px;
	position:relative;
	background-color:beige;
}
.countdown-head{
	height:270px;
	position:relative;
	background-color:#841B1B;
}
.pictureotday-head{
	height:432px;
	top:-162px;
	position:relative;
	background-color:#C4C4C4;
}

.sched-head{
	height:270px;
	position:relative;
	background-color:#fff;
}
.pictureotday{
	width:100%;
	height:91%;
	background-image:url(../bg1.jpg);
}
.countclock {
	width:200px;
}
@media (min-width: 550px) {
  .pictureotday-head{top:0;}
}


.img {
	max-height:100%;
	height:100%;
	width:auto;
}
.main-logo{
	float:left;
}
.j-logo{
	float:right;
}
.text-heading {
	height:10%;
	min-height:10px;
	font-weight:100;
	font-size:24px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color:#F7E7A5;
	opacity:0.3;
	z-index:3;
}
.tht {
	color:#000000;
	font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	align-content:center;
	opacity:1;
}